.btnGroup {
  display: none;
  flex-flow: column nowrap;
  margin: 0 1rem;

  @include media('>=tablet-l') {
    flex-flow: row nowrap;
    margin: 0;

  }

  &--active {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

.btn {
  width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  border: 0;
  border-radius: 15px;
  font-size: rem(16px);
  height: 60px;

  @include media('>=tablet-l') {
    width: 50%;
    margin: 0 1rem;

  }

  &--yellow {
    background-color: $orange;
  }

  &--red {
    background-color: $list-item1;
  }

  &--green {
    background-color: $green;
  }
}

#cancel-btn {
  display: none;
}
