.footer {
  width: 100%;
  height: 5vh;
  background-color: $green;
  
  &__text {
    color: $yellow;
    font-size: rem(16px);
    line-height: 5vh;
    padding: 0 1rem;

    @include media('>=tablet-l') {
      padding: 0;
    }

  }
}