.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;


  &__inputGroup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__inputLabel {
    width: 40%;
    color: $green;
    text-align: left;
    font-size: rem(14px);
    font-weight: 600;

  }
  &__input, &__textarea, &__select {
    width: 60%;
    font-size: rem(14px);
    border: none;
    padding: 1rem;
    background-color: rgba(226,244,199,0.3);

    border-bottom: 2px solid $green;
    border-radius: 0;
  }

  &__input, &__select {
    height: 40px;
  }

  &__input::placeholder, &__select::placeholder, &__textarea::placeholder {
    color: $black;
    font-size: rem(14px);
    
  }

  &__input[type=date], &__input[type=time], &__select {
    flex: 1 1 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: rem(14px);


  }

  &__btn {
    width: 100%;
    margin: .5rem 0;
  }

  }