.header {
  width: 100%;
  background-color: $green;
  height: 10vh;

  &__title {
    font-size: rem(26px);
    line-height: 10vh;
    letter-spacing: 1rem;
    padding: 0 1rem;

    @include media('>=tablet-l') {
      padding: 0;
    }
  }

  &__link {

    color: $yellow;
    text-decoration: none;
  }

  &__link:hover &__icon {
    color: $black;
  }

  &__icon {
    width: 40px;
    height: 40px;
    fill: currentColor;
    vertical-align: middle;
    transition: all .3s ease-in-out;
  }


}