html {
    @include rem-baseline;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

body {
    font-size: rem(16px);
   
}



