.meetingCard {
  margin: 1rem;
  border-radius: 17px;



  &__item {
    background-color: $orange;
    padding: 2rem 3rem;
    display: flex;
    font-size: rem(14px);

    align-items: center;
    &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &:nth-child(odd) {
      background-color: $list-item1;
    }
  }

  &__title {
    font-weight: 600;
    width: 40%;
  }

  &__text {
    width: 60%;
  }

}