.meetingsList {
  margin: 1rem;

  &__item {

    background-color: $orange;
    margin: 1rem 0;
    border-radius: 15px;
    font-size: rem(14px);
    text-decoration: none;
    color: $black;
    word-break: break-all;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;



    cursor: pointer;
    &:nth-child(odd) {
      background-color: $list-item1;
    }
  }

  // &__wrapperText {
  //   text-decoration: none;
  //   color: $black;
  //   word-break: break-all;

  //   display: flex;
  //   flex-flow: row nowrap;
  //   justify-content: space-between;
  //   align-items: stretch;
  //   cursor: pointer;

  // }

  &__text {
    flex: 1 1 33%;
    padding: 2rem;
    text-align: center;

  }
}