.pagination {
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // transform: translate(-50%,0%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;


    &__link {
      margin: 0 1rem;
      color: $black;
      text-decoration: none;
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 0;
      cursor: pointer;
      border-radius: 10px;
      background-color: transparent;

      &--active {
        background-color: $green;
      }
    }




}