.search {
  width: 100%;
  font-size: rem(18px);
  color: $black;

  &__input {
    width: 100%;
    padding: 1.5rem;
    background-color: $list-item1;
    border: 0;
  }

  &__input::placeholder {
    color: $black;
    letter-spacing: .5rem;
  }
}