.section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;


  font-size: rem(16px);

  @include media('>=tablet-l') {
    flex-flow: row nowrap;
  }

  &__box1, &__box2, &__box3, &__box4 {
    width: 100%;
    padding: 0 0 1rem 0;
    @include media('>=tablet-l') {
      width: 50vw;




    }
  }
  &__box1 {
    position: relative;
  }

  // &__box2 {
  //   position: relative;
  // }

  &__box3 {
    order: 2;

    height: 600px;
    min-height: auto;
    @include media('>=tablet-l') {
      order: 1;
      min-height: 600px;
      height: auto;
    }
  }

  &__box4 {
    order: 1;
    position: relative;

    @include media('>=tablet-l') {
      order: 2;
    }
  }

  &__box1, &__box4 {
    background-color: $box2;
  }

  &__box2, &__box3 {
    background-color: $box1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: rem(20px);
    padding: 1rem;
  }

  &__text {
    display: none;

    &--active {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}