// Base font size definition

$rem-baseline: 10px;

// Colors definitions (use: http://chir.ag/projects/name-that-color/)

$black: #000;
$white: #fff;
$green: #559e83;
$yellow: #ffcc5c;
$box1: #e2f4c7;
$box2: #eae374;
$orange: #fc913a;
$list-item1: #ff4e50;
